* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;

    header {
        height: 50px;

        
    }


    /* Doctor profile image fix */
    .doctor-img {
        height: 250px;
        /* uniform height */
        width: 100%;
        /* full card width */
        object-fit: cover;
        /* fill box while cropping */
        object-position: top;
        /* start crop from top */
    }

    .family-img {
        height: 200px;
        object-fit: cover;
        object-position: top;
        /* crops from top */
    }


}
/* Patient image on top of doctor image */

.patient-img {
    width: 45px;       /* slightly smaller to prevent overflow */
    height: 45px;
    position: absolute;
    bottom: -20px;     /* overlaps less to avoid touching card body */
    left: 15px;
    border: 2px solid #fff;
    object-fit: cover;
    object-position: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    z-index: 2;
}
